@import url(./navbar_container.css);
@import url(./content_container.css);

.hero-container{
    margin: 90px 0 10px 0;
}
.container{
    display: block;
    min-height: calc(100vh - 200px);
    background-color: rgb(247, 247, 247);
}
